
logs/

saves/

screenshots/

XaeroWaypoints/

.curseclient

command_history.txt

knownkeys.txt

options.txt

realms_persistence.json

usercache.json

usernamecache.json

emi.json

mods/

downloads/

crash-reports/

automation/secrets.ps1
