# Project Infrastructure
# ---
/*

!/automation
!/changelogs
!/config
!/defaultconfigs
!/emotes
!/kubejs
!/mods
!/resourcepacks
!/shaderpacks
!/server_files
!/.gitignore
!/.gitattributes
!/manifest.json
!/.github
!.editorconfig
!.prettierrc.json
!InstanceSync.jar
!MODLIST.md
!README.md
!minecraftinstance.json
!user-prefs.json
!version-info.json
!/mods/*.pw.toml
!/resourcepacks/*.pw.toml
!/shaderpacks/*.pw.toml
!/index.toml
!/pack.toml
!/.packwizignore

Server Test/
knownkeys.txt
automation/secrets.ps1
automation/exports
.curseclient

/mods/*.jar
/mods/.index
/resourcepacks/*.zip
/resourcepacks/*/
/shaderpacks/*.zip
/shaderpacks/*/
*.disabled

# Specific Mod Junk
# ---
/config/embeddium-fingerprint.json
/config/spark/activity.json
/config/ars_nouveau/search_index/
/config/nolijium.json5
/config/inventoryprofilesnext/*
!/config/inventoryprofilesnext/integrationHints
!/config/inventoryprofilesnext/inventoryprofiles.json

# System Files / Misc.
# ---
*.bak
/*.zip
.DS_Store
Thumbs.db

# Misc.
# ---
ModListCreator-5.0.0-fatjar.jar

# VSCode
!/.vscode
/.vscode/*
!/.vscode/*.code-workspace
!/.vscode/extensions.json

# ProbeJS
/kubejs/probe
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json
/kubejs/*/jsconfig.json
.probe

# Downloadable dependencies
**/node_modules