# Project Infrastructure
# ---
/*

!/automation
!/packwiz
!/changelogs
!/server_files
!/.gitignore
!/.gitattributes
!/.github
!.editorconfig
!InstanceSync.jar
!MODLIST.md
!README.md

knownkeys.txt
automation/secrets.ps1
automation/exports

/packwiz/*.zip
*.disabled

# System Files / Misc.
# ---
*.bak
/*.zip
.DS_Store
Thumbs.db

# Misc.
# ---
ModListCreator-5.0.0-fatjar.jar

# VSCode
!/.vscode
/.vscode/*
!/.vscode/*.code-workspace
!/.vscode/extensions.json

# ProbeJS
.probe

# Downloadable dependencies
**/node_modules