_specver: 2

modpack:
  name: Craftoria
  description: The latest & best of NeoForge on 1.21

install:
  mcVersion:
  loaderVersion: 21.1.215
  modpackUrl: https://mediafilez.forgecdn.net/files/7246/848/Craftoria-1.25.1.zip
  installerUrl: "https://maven.neoforged.net/releases/net/neoforged/neoforge/{{@loaderversion@}}/neoforge-{{@loaderversion@}}-installer.jar"

  ignoreFiles:
    - mods/optifine*.jar
    - resources/**
  additionalFiles:
  localFiles: ~

  installerArguments:
    - "--installServer"
  modpackFormat: curse

  formatSpecific:
    ignoreProject:
      - 737481 # Chat Toggle
      - 363363 # Extreme Sound Muffler
      - 908741 # Embeddium
      - 986380 # Lighty
      - 844662 # Entity Model Features
      - 568563 # Entity Texture Features
      - 915902 # Euphoria Patches
      - 690971 # SeasonHUD
      - 455508 # Iris
      - 1089803 # Better Modlist
      - 925889 # Sounds
      - 1112793 # Perception
      - 1133580 # Smithing Template Viewer
      - 1274497 # Particle Effects Reforged
      - 1254143 # Colorwheel
      - 1285475 # Colorwheel Patcher
      - 646146 # Raise Sound Limit Simplified
      - 1351246 # Iris/Oculus Shader Folder
      - 1326436 # Fancy Toasts

  baseInstallPath:

  checkFolder: true

  installLoader: true

  installPack: true

  spongeBootstrapper: ~

  connectTimeout: 90

  readTimeout: 90

launch:
  # specifies the max amount of ram the server is supposed to launch with (Xmx)
  maxRam: 5G
  # specifies the minimal amount of ram the server is supposed to launch with (Xms)
  minRam: 3G
  # specifies whether the server is supposed to auto restart after crash
  autoRestart: false
  javaArgs:
    - "-XX:+UseG1GC"

  spongefix: false
  ramDisk: false
  checkOffline: false
  crashLimit: 10
  crashTimer: 60min
  preJavaArgs: ~
  forcedJavaPath: ~
  startCommand:
    - "@libraries/net/neoforged/neoforge/{{@loaderversion@}}/{{@os@}}_args.txt"
    - "nogui"
