# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Hostile Networks Config

# All entries in this config file are synced from server to client unless noted otherwise.


power {
    # The maximum FE stored in the Simulation Chamber.
    # Default: 2000000; Range: [1 ~ 2147483647]
    I:"Sim Chamber Power Cap"=2000000

    # The maximum FE stored in the Loot Fabricator.
    # Default: 1000000; Range: [1 ~ 2147483647]
    I:"Loot Fab Power Cap"=1000000

    # The FE/t cost of the Loot Fabricator.
    # Default: 256; Range: [0 ~ 2147483647]
    I:"Loot Fab Power Cost"=256

    # The maximum FE stored in the Data Center. Sized for 25 concurrent self-aware simulations.
    # Default: 8000000; Range: [1 ~ 2147483647]
    I:"Data Center Power Cap"=8000000
}


models {
    # If true, right clicking a blank data model on a mob or block will attune it to that target. If disabled, you will need to provide players with a way to get attuned models!
    # Default: true
    B:"Right Click To Attune"=true

    # How the Simulation Chamber's Training Mode upgrades the data on a model. (0 = Disabled - also disables Training Mode entirely, 1 = Yes, 2 = Only up to tier boundaries)
    # Default: 1; Range: [0 ~ 2]
    I:"Sim Chamber Upgrades Model"=1

    # If true, the accuracy of the model increases as it gains progress towards the next tier. If false, always uses the base accuracy of the current tier.
    # Default: true
    B:"Continuous Accuracy"=true

    # Whether killing mobs and breaking blocks will upgrade the data on a corresponding model. Note: If you disable this, be sure to add a way for players to get non-Faulty models!
    # Default: true
    B:"Action Upgrades Model"=true

    # If true, block data models (such as the built-in ore models) are loaded. This is an experimental feature. This value is not synced; it governs which models load during datapack reading.
    # Default: false
    B:"Enable Block Data Models"=false

    # Per-tick power cost the Data Center pays per active model, as a multiplier on the model's base simCost. 1.5 = 150% of normal.
    # Default: 1.5; Range: [0.01 ~ 100.0]
    S:"Data Center Sim Cost Multiplier"=1.5
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Client-only options, not synced
##########################################################################################################

client {
    # The anchor point for this element.
    # Default: top_left
    S:"Deep Learner HUD Anchor Point"=top_left

    # The X offset for this element.
    # Default: 0; Range: [-1000 ~ 1000]
    I:"Deep Learner HUD X Offset"=0

    # The Y Offset for this element.
    # Default: 0; Range: [-1000 ~ 1000]
    I:"Deep Learner HUD Y Offset"=0
}


