lighty.auto_on=false
lighty.farm_growth_threshold=8
lighty.auto_on.item=minecraft:torch
lighty.last_used_mode=lighty:carpet_mode
lighty.block_threshold=0
lighty.overlay_green=0x00ff00
lighty.overlay_distance=2
lighty.mode.cross.texture=lighty:textures/block/cross.png
lighty.show_safe=true
lighty.farm_uproot_threshold=8
lighty.mode.carpet.texture=lighty:textures/block/transparent.png
lighty.overlay_orange=0xff6600
lighty.overlay_red=0xff0000
lighty.sky_threshold=0
lighty.overlay_brightness=10
